<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538528191871-n6u6srk2kn40tjvhhi33nkt8u26rnb25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538528191871-n6u6srk2kn40tjvhhi33nkt8u26rnb25</string>
	<key>API_KEY</key>
	<string>AIzaSyCQk22k7UzD3I91ZeY9TLzMsaZyCuagsxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>538528191871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-4b187</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-4b187.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538528191871:ios:c0d0faab79645c65e7764a</string>
</dict>
</plist>